.Tasks{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 50px 0 50px;
    box-sizing: border-box;
    position: relative;
    width: calc(100% - 100px);

    tr td {
        &:nth-child(1){
            width: 40px;
        }
        &:nth-child(2){
            width: 80px;
        }
        &:nth-child(3){
            width: calc( 70%);

        }
        &:nth-child(4) {
            width: 400px;

        }
        &:nth-child(3),&:nth-child(4){
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;

        }
        &:nth-child(5){
            width: 80px;
        }
        &:nth-child(6){
            width: 80px;
        }

    }
}