.edit{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

  .form{
    width: 1000px !important;
  }
}


img{
  margin-top: 20px;
  height: 300px;
  width: 300px;
}

button{
  margin: 5px !important;
}