.tasks{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0 50px 0 50px;
    box-sizing: border-box;
    position: relative;
    width: calc(100% - 100px);

    tr td {
        &:nth-child(1){
            width: 40px;
        }
        &:nth-child(2){
            width: 40px;
        }
        &:nth-child(3){
            width: 80px;
        }
        &:nth-child(4){
            width: calc( 70%);

        }
        &:nth-child(5) {
            width: 400px;

        }
        &:nth-child(4),&:nth-child(5){
            max-width: 0;
            overflow: hidden;
            text-overflow: ellipsis;

        }
        &:nth-child(6) {
            width: 80px;
        }
        &:nth-child(7) {
            width: 80px;
        }

    }
}


.actions {
    display: flex;
    margin: 0 50px 30px 50px;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;

    .proj_selector {
        width: 200px;
    }
}

